[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pygame = "*"
scikit-learn = "*"
tensorflow = "*"
opencv-python = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
