[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
scikit-learn = "*"
opencv-python = "*"
nltk = "*"
numpy = "*"
matplotlib = "*"
natsort = "*"
pandas = "*"
polars = {extras = ["pandas", "numpy"], version = "*"}
requests = "*"
pillow = "*"
keras-preprocessing = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}
spacy = "*"
python-magic = "*"
tf-keras = "*"
tabulate = "*"
networkx = "*"
pydot = "*"
statsmodels = "*"
imageio = "*"
pyvirtualdisplay = "*"
xgboost = "*"
seaborn = "*"
tqdm = "*"
emoji = "*"
faker = "*"
babel = "*"
pydub = "*"
audioop-lts = "*"
seqeval = "*"
transformers = "*"
datasets = "*"

[dev-packages]
check50 = "*"

[requires]
python_version = "3.13"
