[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
scikit-learn = "*"
opencv-python = "*"
nltk = "*"
numpy = "*"
matplotlib = "*"
natsort = "*"
pandas = "*"
polars = {extras = ["pandas", "numpy"], version = "*"}
requests = "*"
pillow = "*"
transformers = "*"
keras-preprocessing = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}
scikit-surprise = "*"
spacy = "*"
python-magic = "*"
tf-keras = "*"

[dev-packages]
check50 = "*"

[requires]
python_version = "3.12"
